<b>Отправьте новую ссылку на занятие</b>
<br><br>
<b>Тема занятия:</b>
<br>
{{ title }}
<br>
<b>Преподаватель:</b>
<br>
{{ lecturer_name }}
<br>
<b>Старая ссылка:</b>
<br>
{{ old_lesson_link|default("Ссылка отсутствует", True) }}