<b>Изменить урок:</b>
<br><br>
<b>Текущий заголовок:</b>
<br>
{{ title }}
<br>
<b>Текущая дата/время занятия:</b>
<br>
{{ time_start}}
<br>
<b>Количество оставшихся мест:</b>
<br>
{{ num_of_seats }}
<br>
<b>Ссылка на занятие</b>
<br>
{{ lesson_link|default("Ссылка не указана", True) }}