<b>Ваш групповой абонемент</b>
<br><br>
<b>Дата начала действия абонемента:</b>
<br>
{{ start_date }}
<br>
<b>Дата окончания действия абонемента:</b>
<br>
{{ end_date }}
<br>
<b>Оставшееся количество занятий:</b>
<br>
{{ num_of_classes }}