Доступный груповой абонемент:
<br><br>
Количество занятий:
<br>
{{ num_of_classes }}
<br>
Дата начала действия абонемента:
<br>
{{ start_date }}
<br>
Дата окончания действия абонемента:
<br>
{{ end_date }}
<br>
Ключ: 
<br>
{{sub_key}}
