{% extends "lessons_without_link.jinja" %}
{% block lesson_link %}
{% if lesson_link %}
<a href="{{ lesson_link }}">Ссылка на занятие</a>
{% else %}
Ссылка на занятие не указана
{% endif %}
{% endblock lesson_link %}