<b>Тема занятия:</b>
<br>
{{ title }}
<br>
<b>Дата и время начала занятия:</b>
<br>
{{ time_start }}
<br>
<b>Количество свободных мест:</b>
<br>
{{ num_of_seats }}
<br>
<b>Преподаватель: </b>
<br>
{{ lecturer_full_name }}
<br><br>
{% block lesson_link %}
{% endblock lesson_link %}