<b>Количетсво свободных мест на занятии изменилось.</b>
<br><br>
<b>Тема занятия:</b>
<br>
{{ title }}
<br>
<b>Преподаватель:</b>
<br>
{{ lecturer_name }}
<br>
<b>Новое количество свободных мест:</b>
<br>
{{ num_of_seats }}
