<b>Дата проведения занятия изменена.</b>
<br><br>
<b>Тема занятия:</b>
<br>
{{ title }}
<br>
<b>Старая дата:</b>
{{ old_time_start }}
<br>
<b>Преподаватель:</b>
<br>
{{ lecturer_name }}
<br>
<b>Новая дата: </b>
<br>
{{ new_time_start }}