Пожалуйста, пройдите регистрацию!
<br><br>
Напишите Ваше <b>Имя, Фамилию, Номер телефона, Email</b>
<br><br>
Например:
<br><br>
Иванов Иван 89999999999 example@example.ru
<br><br>
Чтобы прервать регистрацию введите /stop